html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #43464B;
  /*background: #fff url('/img/triangle-mosaic.png'); /* Background from Subtle Patterns */
}
.flex-wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
p {
  margin: 3px;
  font-weight: 300;
  font-size: 0.9em;
}
#controls {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}
.title {
  flex-basis: 100%;
  margin: 10px;
  text-align: right;
}
.control {
  font-size: 0.8em;
  flex-basis: 14%;
  align-self: right;
  text-align: center;
}

/* Styling for deck */
#game {
  display: flex;
  justify-content: center;
}
#deckSpace {
  min-height: 100px;
  /*width: 460px;*/
  /*margin: 5px;
  padding: 18px;
  border-radius: 10px;*/
  /*background: rgb(225,204,9);
  background: linear-gradient(173deg, rgba(225,204,9,0.9) 0%, rgba(245,217,33,0.15) 55%, rgba(11,145,191,0.9) 100%);
  -webkit-box-shadow: 10px 15px 25px 0px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 15px 25px 0px rgba(0,0,0,0.56);
  box-shadow: 10px 15px 25px 0px rgba(0,0,0,0.56);*/
}
ul, li {
  list-style: none;
  padding: 5px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  font-weight: 300;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #43464B;
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.4);
  flex-basis: 25%;
  margin: 5px;
  cursor: pointer;
}
.card.open {
  transform: rotateY(0);
  background: #fafafa;
}
.card.match {
  color: #fafafa;
  background: #118bb4a3;
}

/* Win modal */
#win {
  display: none;
}
.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal-msg {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100px;
  text-align: center;
  margin: 10% 10% auto;
  border: 1px solid #43464B;
  background: #fff;
  padding: 20px;
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.4);
}
.close {
  cursor: pointer;
  margin: 20px 10px 8px;
}
#new-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* Add card modal*/
#admin {
  display: none;
}
.add-card-form {
  flex-basis: 35%;
  margin: 5px;
}
.add-card-form.label {
  text-align: right;
}
.add-card-form.submit {
  font: inherit;
  background-color: #43464B;
  border: 1px solid #43464B;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  margin: 20px 10px;
}
button {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
  font-weight: 800;
  color: inherit;
}

/* Media Queries */
@media screen and (max-width: 425px) {
  .card {
    max-width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 350px) {
  .card {
    font-size: 0.7em;
    max-width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 500px) {
  #controls {
    width: 460px;
    flex-basis: auto;
  }
  #deckSpace {
    width: 460px;
  }
}

@media screen and (min-height: 630px) {
  #deckSpace {
    margin-bottom: 80px;
  }
}
