html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #43464B;
}
.flex-wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
p {
  margin: 0 30px 40px;
  font-weight: 300;
  font-size: 0.9em;
  text-align: justify;
}

/* Controls and titles section */
#controls {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.category-title {
  flex-basis: 100%;
  margin: 0 10px 0 0;
  text-align: right;
  font-weight: 300;
}
.stats {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.control {
  margin: 0;
  font-size: 0.8em;
  flex-basis: 20%;
  text-align: center;
}
.title {
  flex-basis: 100%;
  z-index: 1;
  margin: 15px 15px 0 0;
  font-weight: 500;
  text-align: right;
}

/* Hamburger navigation*/
.burger {
  display: inline-block;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  margin: 10px 5px 5px 20px;
}
.line1, .line2, .line3 {
  width: 35px;
  height: 2px;
  border-radius: 1px;
  background-color: #43464B;
  margin: 8px 0;
  transition: 0.4s;
}
.close.line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
.close.line2 {
  opacity: 0;
}
.close.line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -6px) ;
  transform: rotate(45deg) translate(-8px, -6px) ;
}

/* Options menu */
.options {
  background: #fff;
  position: fixed;
  left: auto;
  height: 100%;
  width: 100%;
  transform: translate(0, 100%);
  transition: 0.5s ease-in-out;
}
button {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
  font-weight: 800;
  color: inherit;
}
.btn {
  border: 0.5px solid #43464B;
  padding: 7px 15px;
  margin: 30px 10px 0 0;
  background: #43464B;
  color: #fff;
  font-weight: 300;
  width: 150px;
}
.btn:hover {
  background: #fff;
  color: #43464b;
}
p.opt-label {
  margin: 5px;
  font-weight: 500;
}

/* Choose number of cards */
.card-selector {
  margin: 15px;
}
.card-count {
  z-index: 1;
  position: fixed;
  top: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.options.show-opts {
  transform: translate(0,0);
}
.btn {
  text-align: center;
}
input {
  text-align: center;
  font: inherit;
}
.inactive {
  color: #adadad;
  cursor: default;
}
.opt-label {
  font-size: 16px;
  margin-left: 0;
  flex-basis: 45%;
}

/* Radio checkbox styling - with help from Tipue https://tipue.com/blog/radio-checkbox/ */
.radio-group {
  flex-basis: 100%;
}
.radio-input {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.radio-input:checked::before {
     position: absolute;
     font: inherit;
     left: 11px;
     top: 4px;
     content: '\02143';
     transform: rotate(40deg);
}
.radio-input:hover {
     background-color: #f7f7f7;
}
.radio-input:checked {
     background-color: #f1f1f1;
}
label.radio-label {
     cursor: pointer;
     font-size: 0.9em;
     font-weight: 300;
}

/* Styling for deck */
#game {
  display: flex;
  justify-content: center;
}
#deckSpace {
  min-height: 100px;
}
ul, li {
  list-style: none;
  padding: 5px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  font-weight: 300;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  height: 80px;
  border-radius: 5px;
  background: #43464B;
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.4);
  flex-basis: 25%;
  margin: 5px;
  cursor: pointer;
}
.card.open {
  transform: rotateY(0);
  background: #fafafa;
}
.card.match {
  color: #fafafa;
  background: #118bb4a3;
}

/* Win modal */
#win {
  display: none;
}
.modal-background {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal-msg {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100px;
  max-width: 500px;
  text-align: center;
  align-items: center;
  margin: 10% auto;
  border: 1px solid #43464B;
  background: #fff;
  padding: 20px;
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.4);
}
p.modal-p {
  margin: 5px;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  .card {
    max-width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  #controls {
    width: 360px;
    flex-basis: auto;
  }
  #deckSpace {
    width: 360px;
  }
  h2.category-title {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 332px) {
  .card {
    font-size: 0.7em;
    max-width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 500px) {
  #controls {
    width: 490px;
    flex-basis: auto;
  }
  #deckSpace {
    width: 360px;
  }
  #deckSpace.large {
    width: 490px;
  }
  .options {
    width: 490px;
  }
}
@media screen and (min-width: 700px) {
  #controls {
    width: 650px;
    flex-basis: auto;
  }
  #deckSpace {
    width: 500px;
  }
  #deckSpace.large {
    width: 650px;
  }
  .options {
    width: 650px;
  }
}
@media screen and (min-width: 1150px) {
  #controls {
    padding: 0 25%;
  }
}
@media screen and (orientation: landscape) and (max-height: 450px) {
    .card {
      font-size: 0.7em;
      max-width: 50px;
      height: 50px;
    }
    #deckSpace {
      width: 570px;
    }
    #deckSpace.large {
      width: 570px;
    }
}
